<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5EC9A911EA7464F0003B1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5EC9AA51EA746500003B1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5EC9AB01EA746500003B1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
